<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803265670160-plueberudlll277otl914jnobq6lkhhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803265670160-plueberudlll277otl914jnobq6lkhhh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803265670160-hje7shmamrkdvsckhkrg5pt0akd7eiv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBD4k9Z3o7meMNflJxPdqjcKrLq-0O78JE</string>
	<key>GCM_SENDER_ID</key>
	<string>803265670160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.krito.almurafiq</string>
	<key>PROJECT_ID</key>
	<string>psychic-yew-291212</string>
	<key>STORAGE_BUCKET</key>
	<string>psychic-yew-291212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803265670160:ios:461c21aa98199e82bc2e95</string>
</dict>
</plist>